body{
    /*background-color: black;*/
}
*{
    box-sizing: border-box;
    background-color: black;
}
header{
    color: white;
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
}
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.myslide{
    /*display: none;*/
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    margin-top: -22px;
    padding:16px;
    /*color: white;*/
    font-weight: bold;
    font-size: 18px;
    transition:0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.movieTitle{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    /*position: absolute;*/
    bottom: 8px;
    width: 100%;
    text-align: left;
    background-color: rgba(0,0,0,0.3)
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    /*position: absolute;*/
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.3)
}
/* need to work on this down*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
     from {opacity: .4}
     to {opacity: 1}
 }
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}